body {
    background-color: rgb(184, 142, 223);
}
.entrada {
    width: 40px;
    background-color:  rgb(215, 195, 236);
    border: none;
    border-bottom: 2px solid rgb(138, 103, 170);
    text-align: right;
}
.calc_simples {
    background-color: rgb(117, 75, 156);
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}

.display_simples{
width: 100%;
text-align: center;
}

#resultado {
    text-align: right;
}

.teclas {
    text-align: center;
}

button{
    width: 40px;
    height: 40px;
    margin: 3px;
}

#igual {
    background-color: rgb(249, 247, 250);
    color: rgb(149, 109, 187);
}