body {
    background-color: rgb(66, 6, 122);
}
 
.calc_simples {
    background-color: blueviolet;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}

.display_simples{
width: 100%;
text-align: center;
}

#resultado {
    text-align: right;
}

.teclas {
    text-align: center;
}

button{
    width: 40px;
    height: 40px;
    margin: 3px;
}

#igual {
    background-color: rgb(249, 247, 250);
    color: rgb(149, 109, 187);
}